<div class=" col-xs-3 padding " id="commandListFrame">
	<div id="commandList">
		<div id='li0' class="listItem"></div>
	</div>
</div>
<div id="toolsContainer" class="row col-xs-8"></div>
<div id="navPost" class='col-xs-2'>
	<button id='saveButton' type="button" class="btn btn-default ">{{save}}</button>
	<button type="button" id="currentTaskButton" class="btn btn-default">{{noTask}}</button>
	<button id="checkTask" type="button" class="btn btn-default additionalTask">{{checkTask}}</button>
	<button id="clearTask" type="button" class="btn btn-default additionalTask">{{clearTask}}</button>

</div>

<span id='head' class="glyphicon glyphicon-menu-down"></span>
<div id="strip" class="padding col-xs-12 row"></div>


<div id="saveModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
	<div class="modal-dialog modal-sm col-xs-offset-3">
		<div class="modal-content">
			{{enterNameLabel}}
			<input id='modalInput' placeholder="3 or more symbols" type="text">
			<button type="button" id="modalDone" class="btn btn-default">{{saveDone}}</button>
			<button id='saveCancel'type="button" data-toggle='modal' data-target=".bd-example-modal-sm" class="btn btn-default">{{saveCancel}}</button>
		</div>
	</div>
</div>
<div id="taskPreviewModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
	<div class="modal-dialog modal-sm col-xs-offset-3">
		<div class="modal-content">
		</div>
	</div>
</div>


<script type="text/javascript" src="js/postLogic/strip.js"></script>
<script type="text/javascript" src="js/postLogic/cmBox.js"></script>
<script type="text/javascript" src="js/postLogic/cmTools.js"></script>
<script type="text/javascript" src="js/postLogic/debugEngine.js"></script>