<div id='debugContainer' class='tools row col-xs-offset-2 col-xs-8'>
    <button id='startButton' class='btn btn-default col-xs-12 colorButton'>{{start}}</button>
    <button id='stepButton' class='btn btn-default col-xs-12 colorButton'>{{step}}</button>
    <button id='startOverButton' class='btn btn-default col-xs-12 colorButton'>{{startOver}}</button>
    <input id='debugIgnore' type="checkbox"><span>{{ignore}}</span>
    <button id='backButton' class='btn btn-default col-xs-12 colorButton'>{{back}}</button>
</div>