<!--<div id='commandContainer' >-->
<form id='commandForm' class='col-xs-6'>
	<button type="button" id="IF" class="btn btn-default btn-lg col-xs-4 square">?</button>
	<input type="tel" id="ifTrue" class="btn btn-default btn-lg col-xs-4 square ifArgs">
	<input type="tel" id="ifFalse" class="btn btn-default btn-lg  col-xs-4 square ifArgs">
	<button type="button" id="P" class="btn btn-default btn-lg col-xs-5  square">P</button>
	<button type="button" id="D" class="btn btn-default btn-lg  col-xs-5 col-xs-offset-2 square">D</button>
	<button type="button" id="L" class="btn btn-default btn-lg col-xs-5  square">L</button>
	<button type="button" id="R" class="btn btn-default btn-lg col-xs-5 col-xs-offset-2 square">R</button>


	<button type="button" id="F" class="btn btn-default btn-lg  col-xs-offset-0 col-xs-12 square">S</button>
</form>
<div id="commandButtonContainer" class="col-xs-offset-1 col-xs-4">
	<button type="button" id='add' class="btn btn-default btn-block col-xs-12 colorButton">{{insert}}</button>
	<button type="button" id='del' class="btn btn-default btn-block col-xs-12 colorButton">{{delete}}</button>
	<button type="button" id='edit' class="btn btn-default btn-block col-xs-12 colorButton">{{edit}}</button>
	<button type="button" id='debugButton' class="btn btn-default btn-block col-xs-12 colorButton">{{debug}}</button>
</div>

<script type="text/javascript" src="js/postLogic/cmTools.js"></script>
<!--</div>-->